<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="Images/logo_edit.png" type="image/icon type">

    <title>Visit Again</title>
    <!-- <link src="/CODE/CODE/Courses/error.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="css/{{err}}" />
</head>

<body>

    <h1>Thanks For visiting Our Website</h1>
    <p class="zoom-area">We hope seeing you around</p>
    <section class="error-container">
        <span> <img src="/Images/carrer_guidance_logo_edit.png"
                style="filter: drop-shadow(0 0.5rem 1rem #9cd4ed);"></span>
    </section>
    <div class="link-container">
        <a href="/" class="more-link" onMouseOver="this.style.color='#62ccff'"
            onMouseOut="this.style.color='rgb(255,255,255)'" style="background-color: #416475;color:rgb(255,255,255);">Visit the
            Home
            Page</a>
    </div>

</body>

</html>