<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
    <!-- <link src="/CODE/CODE/Courses/error.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="css/{{err}}" />
</head>

<body>

    <h1>All Your Credentials have been saved</h1>
    <p class="zoom-area">Wait for the <b>Admin</b> to give you access. </p>
    <section class="error-container">
        <span>2</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>0</span>
    </section>
    <div class="link-container">
        <a href="/" class="more-link">Visit the Home Page</a>
    </div>

</body>

</html>
